+b('base-table')
  +e('scroller')
    +scrollbar(5px, rgb(var(--color-primary)), rgb(var(--color-secondary)))
    height: calc(100vh - 276px)
    overflow-y: auto
    +scroll-overflow()

  +e('row')
    display: flex
    background-color: rgb(var(--color-white))
    overflow: auto
    +scrollbar(5px, rgb(var(--color-primary)), rgb(var(--color-secondary)))

  +e('scroller-item')
    &:not(:last-of-type)
      margin-bottom: rem(14px)

  +e('head')
    display: flex
    align-items: center
    padding-bottom: rem(10px)
    overflow-x: auto
    overflow-y: hidden
    padding-right: 5px
    +scrollbar(5px, rgb(var(--color-primary)), rgb(var(--color-secondary)))

  +e('sort')
    display: flex
    align-items: center
    transition: color 0.2s ease-out

    .icon
      flex-shrink: 0
      transition: transform 0.2s ease-out

    &:hover
      color: rgb(var(--color-primary))

    +m('active')
      color: rgb(var(--color-primary))

      .icon
        transform: rotate(180deg)

  +e('sort-name')
    margin-right: rem(10px)
    text-align: left

  +e('body-data')
    box-sizing: border-box
    display: inline-flex
    align-items: center
    padding-top: rem(30px)
    padding-bottom: rem(30px)

  +e('cell')
    box-sizing: border-box
    flex-shrink: 0
    width: 130px
    padding-right: rem(12px)
    padding-left: rem(12px)
    overflow: hidden

    &:first-of-type,
    &:last-of-type
      width: 80px

    &:nth-of-type(2),
    &:nth-of-type(6)
      width: 180px
