+b('main-nav')
  width: 215px
  height: calc(100% - 5.1rem)
  position: fixed
  top: 5.1rem
  left: 0
  z-index: var(--z-index-navigation)
  visibility: hidden
  opacity: 0
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out

  +m('visible')
    visibility: visible
    opacity: 1

    .main-nav__wrapper
      transition-delay: 0.2s
      transform: none

  +media($screen-sm)
    top: 8rem
    height: calc(100% - 8rem)

  +media($screen-lg)
    width: 80px
    height: 100%
    grid-area: navigation
    position: relative
    top: auto
    left: auto
    background-color: rgb(var(--color-white))
    border-right: 1px solid rgba(var(--color-primary), 0.2)
    overflow: initial
    visibility: visible
    opacity: 1
    transition: width 0.2s ease-out
    will-change: width
    backface-visibility: hidden

    +m('visible')
      width: 215px

  +e('overlay')
    z-index: -1
    height: inherit
    top: inherit

    +media($screen-lg)
      display: none

  +e('wrapper')
    position: relative
    height: 100%
    overflow: auto
    +scroll-overflow()
    transform: translateX(-100%)
    background-color: rgb(var(--color-white))
    transition: transform 0.2s ease-out

    +media($screen-lg)
      top: 0
      position: sticky
      transform: none
      height: 100vh
      overflow-y: auto
      overflow-x: hidden
      transition: none
      +scrollbar(5px, var(--color-primary), var(--color-secondary))

  +e('toggle')
    display: none

    +media($screen-xl)
      display: block

  +e('user')
    display: flex
    align-items: center
    padding: rem(14px) rem(14px) rem(28px)

    +media($screen-sm)
      padding-left: rem(24px)
      padding-right: rem(24px)

    +media($screen-lg)
      padding-top: rem(22px)
      padding-bottom: rem(22px)

    +media($screen-xl)
      padding-top: rem(30px)
      padding-bottom: rem(30px)

  +e('info')
    display: flex
    flex-direction: column
    font: var(--text-link)
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out

    +media($screen-lg)
      opacity: 0
      visibility: hidden

      +m('visible')
        opacity: 1
        visibility: visible

  +e('thumb')
    margin-right: rem(10px)

    +media($screen-lg)
      flex-shrink: 0

  +e('welcome')
    font: inherit

  +e('username')
    font: inherit
    color: rgb(var(--color-gray-3))
    +text-overflow()
    max-width: 12ch

  +e('link')
    display: flex
    align-items: center
    padding: rem(16px) rem(14px)
    color: rgb(var(--color-gray-3))
    transition: color 0.2s ease-out, background-color 0.2s ease-out
    position: relative

    .icon
      margin-right: rem(16px)
      flex-shrink: 0

    &::before
      content: ''
      background-color: currentColor
      position: absolute
      top: 0
      left: 0
      width: rem(3px)
      height: 100%
      opacity: 0
      transition: opacity 0.2s ease-out

    &::after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 0
      background-color: rgb(var(--color-primary))
      opacity: 0
      transition: opacity 0.2s ease-out, background-color 0.2s ease-out

    &:hover,
    &.nuxt-link-active
      color: rgb(var(--color-primary))

      &::before
        opacity: 1

      &::after
        opacity: 0.15

    +media($screen-sm)
      padding-left: rem(24px)
      padding-right: rem(24px)

    +media($screen-lg)
      padding-left: rem(28px)
      padding-right: rem(28px)

  +e('link-name')
    +media($screen-lg)
      opacity: 0
      visibility: hidden
      transition: opacity 0.2s ease-out, visibility 0.2s ease-out

      +m('visible')
        opacity: 1
        visibility: visible
