+b('chat-list')
  background-color: rgb(var(--color-white))

  +e('item')
    border-bottom: rem(1px) solid rgba(var(--color-primary), 0.2)

  +e('link')
    display: flex
    box-sizing: border-box
    width: 100%
    height: 100%
    padding: rem(20px) rem(14px)
    transition: background-color 0.2s ease-out
    position: relative

    &::before
      content: ''
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 0
      background-color: rgb(var(--color-primary))
      opacity: 0
      transition: opacity 0.2s ease-out, background-color 0.2s ease-out

    &:hover::before
      opacity: 0.15

    +media($screen-sm)
      padding-left: rem(24px)
      padding-right: rem(24px)

  +e('col')
    +m('left')
      position: relative
      margin-right: rem(9px)

    +m('right')
      width: 100%
      display: flex
      flex-direction: column
      min-width: 0

  +e('heading')
    display: flex
    justify-content: space-between
    align-items: baseline
    margin-bottom: rem(4px)

  +e('message')
    +text-overflow()
    max-width: 100%

  +e('name')
    font: var(--text-button)

  +e('time')
    font: var(--font-caption)
    color: rgb(var(--color-gray-2))
    +text-overflow()
    max-width: 100%

  +e('message')
    font: var(--font-caption)
    color: rgb(var(--color-gray-2))
