+b('base-button')
  width: 100%
  font: var(--text-button)
  border-radius: 4px
  transition-duration: 0.2s
  transition-timing-function: ease-out

  +m('theme')
    +v('default')
      background-color: rgb(var(--color-primary))
      color: rgb(var(--color-white))
      transition-property: opacity, background-color

      &:hover,
      &:focus
        opacity: 0.9

      &:active
        opacity: 0.8

    +v('light')
      background-color: rgb(var(--color-secondary))
      color: rgb(var(--color-primary))
      transition-property: color, background-color, opacity

      &:hover,
      &:focus
        background-color: rgb(var(--color-primary))
        color: rgb(var(--color-white))

      &:active
        opacity: 0.8

    +v('success')
      background-color: rgb(var(--color-green))
      color: rgb(var(--color-white))
      transition-property: opacity, background-color

      &:hover,
      &:focus
        opacity: 0.9

      &:active
        opacity: 0.8

    +v('gray')
      background-color: rgb(var(--color-gray-5))
      color: rgb(var(--color-gray-3))
      transition-property: background-color, color

      &:hover
        color: rgb(var(--color-white))
        background-color: rgb(var(--color-gray-4))

  +e('wrapper')
    box-sizing: border-box
    width: 100%
    height: 100%
    padding: rem(9.5px) rem(18px)
    display: flex
    align-items: center
    justify-content: center

    +media($screen-sm)
      padding-top: rem(14.5px)
      padding-bottom: rem(14.5px)

  +e('icon')
    margin-right: rem(8px)
