+b('page-content')
  grid-area: content
  display: flex
  flex-direction: column
  flex-grow: 1
  position: relative
  background-color: rgba(var(--color-primary), 0.04)
  transition: background-color 0.2s ease-out

  +m('offset')
    padding-top: rem(30px)
    padding-bottom: rem(30px)

    +media($screen-sm)
      padding-top: rem(60px)
      padding-bottom: rem(60px)

    +media($screen-lg)
      padding-top: rem(64px)
      padding-bottom: rem(64px)

  +m('offset-bottom')
    padding-bottom: rem(30px)

    +media($screen-sm)
      padding-bottom: rem(60px)

    +media($screen-lg)
      padding-bottom: rem(64px)

  +m('offset-top')
    padding-top: rem(30px)

    +media($screen-sm)
      padding-top: rem(60px)

    +media($screen-lg)
      padding-top: rem(64px)
