+b('site-grid')
  +media($screen-lg)
    display: grid
    grid-template-columns: auto 1fr
    grid-template-rows: 80px 1fr
    grid-template-areas: "navigation header" "navigation content"
    transition: all 0.2s ease-out
