// Fade animations for login form switcher. path: /login
.login-fade-enter-active, .login-fade-leave-active
  transition: opacity 0.2s ease-out

.login-fade-enter
  position: absolute

.login-fade-enter, .login-fade-leave-to
  opacity: 0

// Disable animation if user doesn't like it
@media (prefers-reduced-motion: reduce)
  *, *::before, *::after
    transition: none !important

// lazy loaded images

.v-lazy-image
  opacity: 0
  transition: opacity 0.2s ease-out

.v-lazy-image-loaded
  opacity: 1

@keyframes progress-bar
  0%
    width: 0

