// Fade animations for login form switcher /login

.login-fade-enter-active, .login-fade-leave-active
  transition: opacity 0.3s ease-in-out

.login-fade-enter
  position: absolute

.login-fade-enter, .login-fade-leave-to
  opacity: 0



