\:root
  // Global
  --vh: 1vh

  // Colors
  --color-blue: 46, 91, 255
  --color-lavender: 224, 231, 255
  --color-green: 51, 172, 46
  --color-darkgreen: 0, 165, 80
  --color-red: 214, 54, 73
  --color-yellow: 247, 193, 55
  --color-yellow-lighter: 250, 208, 80
  --color-darkturquoise: 0, 193, 212
  --color-purple: 140, 84, 255
  --color-white: 255, 255, 255
  --color-deepskyblue: 0, 164, 222
  --color-royalblue: 59, 126, 213
  --color-midnightblue: 35, 42, 100
  --color-dimgray: 97, 98, 102
  --color-lawngreen: 133, 200, 0
  --color-darkorchid: 167, 40, 163
  --color-lightslategray: 118, 117, 172
  --color-pink: 247, 224, 255

  --color-gray-1: 45, 56, 77
  --color-gray-2: 105, 112, 127
  --color-gray-3: 135, 152, 173
  --color-gray-4: 191, 197, 210
  --color-gray-5: 244, 246, 252
  --color-gray-6: 238, 243, 245


  --color-primary: var(--color-blue)
  --color-secondary: var(--color-lavender)
  --color-tertiary: var(--color-gray-3)

  --color-text: var(--color-gray-1)

  // Typography
  --font-family-primary: Rubik, system-ui, sans-serif

  --text-heading-1: 300 #{rem(48px)} / #{rem(57px)} var(--font-family-primary)
  --text-heading-2: 300 #{rem(34px)} / #{rem(32px)} var(--font-family-primary)
  --text-heading-3: 300 #{rem(28px)} / #{rem(32px)} var(--font-family-primary)
  --text-heading-4: 500 #{rem(15px)} / #{rem(18px)} var(--font-family-primary)
  --text-paragraph: 400 #{rem(15px)} / #{rem(22px)} var(--font-family-primary)
  --text-caption: 500 #{rem(12px)} / #{rem(14px)} var(--font-family-primary)
  --text-logo: 500 #{rem(19px)} / #{rem(23px)} var(--font-family-primary)
  --text-input: 400 #{rem(15px)} / #{rem(18px)} var(--font-family-primary)
  --text-link: 400 #{rem(15px)} / #{rem(18px)} var(--font-family-primary)
  --text-button: 500 #{rem(15px)} / #{rem(21px)} var(--font-family-primary)
  --text-counter: 500 #{rem(10px)} / #{rem(12px)} var(--font-family-primary)

  // Z-indexes

  --z-index-navigation: 2000
  --z-index-header: 2001
  --z-index-notification-popup: 2002

// Breakpoints
$screen-xs: 480px
$screen-sm: 660px
$screen-md: 768px
$screen-lg: 1024px
$screen-xl: 1280px
$screen-xxl: 1440px
$screen-xxxl: 1700px
$screen-xxxxl: 1920px

