\:root
  // Global
  --vh: 1vh

  // Colors
  --color-blue: #2e5bff
  --color-lavender: rgba(46, 91, 255, 0.2)
  --color-lavender-2: #e0e7ff
  --color-lavender-3: rgba(224, 231, 255, 0.2)
  --color-green: #33ac2e
  --color-red: #d63649
  --color-yellow: #f7c137
  --color-darkturquoise: #00c1d4
  --color-purple: #8c54ff
  --color-white: #ffffff

  --color-gray-1: #2d384d
  --color-gray-2: #69707f
  --color-gray-3: #8798ad
  --color-gray-4: #bfc5d2
  --color-gray-5: #f4f6fc
  --color-gray-6: #eef3f5


  --color-primary: var(--color-blue)
  --color-secondary: var(--color-lavender)
  --color-tertiary: var(--color-gray-3)

  --color-text: var(--color-gray-1)

  // Typography
  --font-family-primary: Rubik, system-ui, sans-serif

  --text-heading-1: 300 #{rem(48px)} / #{rem(57px)} var(--font-family-primary)
  --text-heading-2: 300 #{rem(34px)} / #{rem(32px)} var(--font-family-primary)
  --text-heading-3: 300 #{rem(28px)} / #{rem(32px)} var(--font-family-primary)
  --text-heading-4: 500 #{rem(15px)} / #{rem(18px)} var(--font-family-primary)
  --text-paragraph: 400 #{rem(15px)} / #{rem(22px)} var(--font-family-primary)
  --text-caption: 500 #{rem(12px)} / #{rem(14px)} var(--font-family-primary)
  --text-logo: 500 #{rem(19px)} / #{rem(23px)} var(--font-family-primary)
  --text-input: 400 #{rem(15px)} / #{rem(18px)} var(--font-family-primary)
  --text-button: 500 #{rem(15px)} / #{rem(21px)} var(--font-family-primary)
