+b('base-theme')
  +e('label')
    display: flex
    flex-direction: column

  +e('theme')
    display: block
    width: 100%
    max-width: rem(140px)
    height: rem(65px)
    margin-bottom: rem(14px)
    border-radius: 5px

    +m('shelob')
      background-image: linear-gradient(to right, var(--color-blue) 33%, var(--color-lavender) 33%, var(--color-lavender) 66%,  var(--color-gray-3) 33%)

    +m('denethor')
      background-image: linear-gradient(to right, var(--color-purple) 33%, var(--color-darkturquoise) 33%, var(--color-darkturquoise) 66%, var(--color-yellow-lighter) 33%)

    +m('quickbeam')
      background-image: linear-gradient(to right, var(--color-deepskyblue) 33%, var(--color-royalblue) 33%, var(--color-royalblue) 66%, var(--color-darkgreen) 33%)

    +m('shadowfax')
      background-image: linear-gradient(to right, var(--color-midnightblue) 33%, var(--color-lawngreen) 33%, var(--color-lawngreen) 66%, var(--color-dimgray) 33%)

    +m('grima')
      background-image: linear-gradient(to right, var(--color-darkorchid) 33%, var(--color-pink) 33%, var(--color-pink) 66%, var(--color-lightslategray) 33%)

  +e('text')
    font: var(--text-button)
    position: relative
    padding-left: rem(24px)

    &::before
      content: ''
      box-sizing: border-box
      width: rem(16px)
      height: rem(16px)
      +vertical-center()
      left: 0
      border: rem(1px) solid var(--color-gray-3)
      border-radius: 50%
      transition: border 0.2s ease-out

  +e('radio')
    &:checked ~ .base-theme__label
      .base-theme__text::before
        border: rem(4px) solid var(--color-primary)
