+b('base-notify')
  position: absolute
  top: 0
  right: 0
  width: rem(9px)
  height: rem(9px)
  background-color: var(--color-white)
  border-radius: 50%
  box-shadow: 0 0 0 0 rgba(46, 91, 255, 1)
  transform: scale(1)
  animation: pulse 2s infinite

  &::before
    content: ''
    +absolute-center()
    width: rem(4px)
    height: rem(4px)
    background-color: var(--color-primary)
    border-radius: inherit

  +media($screen-lg)
    width: rem(12px)
    height: rem(12px)

    &::before
      width: rem(6px)
      height: rem(6px)
