+b('overview')
  +e('grid')
    display: grid
    justify-content: start
    grid-template-columns: repeat(12, 1fr)
    grid-gap: rem(14px)

    +media($screen-sm)
      grid-gap: rem(24px)

    +media($screen-lg)
      grid-gap: rem(34px)

  +e('block')
    &:first-of-type
      order: 1
      grid-column: 12 span
      grid-row: 2 span

    &:nth-of-type(2)
      order: 4
      grid-column: 12 span
      grid-row: 3 span

    &:nth-of-type(3),
    &:nth-of-type(4)
      grid-column: 12 span
      grid-row: 1 span

    &:nth-of-type(3)
      order: 2

    &:nth-of-type(4)
      order: 3

    &:nth-of-type(5)
      order: 5
      grid-column: 12 span
      grid-row: 3 span

    &:nth-of-type(6)
      order: 6
      grid-column: 12 span
      grid-row: 2 span

    &:nth-of-type(7)
      order: 7
      grid-column: 12 span
      grid-row: 4 span

    &:nth-of-type(8)
      order: 8
      grid-column: 12 span
      grid-row: 2 span

    +media($screen-sm)
      &:first-of-type
        order: 1
        grid-column: 6 span
        grid-row: 2 span

      &:nth-of-type(2)
        order: 4
        grid-column: 12 span
        grid-row: 3 span

      &:nth-of-type(3)
        order: 2
        grid-column: 6 span
        grid-row: 1 span

      &:nth-of-type(4)
        order: 3
        grid-column: 6 span
        grid-row: 1 span

      &:nth-of-type(5)
        order: 5
        grid-column: 12 span
        grid-row: 4 span

      &:nth-of-type(6)
        order: 6
        grid-column: 6 span
        grid-row: 2 span

      &:nth-of-type(7)
        order: 7
        grid-column: 6 span
        grid-row: 2 span

      &:nth-of-type(8)
        order: 8
        grid-column: 12 span
        grid-row: 2 span


    +media($screen-lg)
      &:first-of-type
        order: 1
        grid-column: 6 span
        grid-row: 2 span

      &:nth-of-type(2)
        order: 2
        grid-column: 6 span
        grid-row: 3 span

      &:nth-of-type(3)
        order: 3
        grid-column: 3 span
        grid-row: 1 span

      &:nth-of-type(4)
        order: 4
        grid-column: 3 span
        grid-row: 1 span

      &:nth-of-type(5)
        order: 5
        grid-column: 12 span
        grid-row: 4 span

      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8)
        grid-column: 4 span
        grid-row: 4 span

      &:nth-of-type(6)
        order: 6

      &:nth-of-type(7)
        order: 7

      &:nth-of-type(8)
        order: 8

  +e('text')
    color: rgb(var(--color-gray-3))

  +e('desc')
    margin-top: rem(24px)

    +media($screen-lg)
      width: rem(220px)
      margin-top: 0
      margin-left: rem(24px)

    +media($screen-xl)
      margin-left: rem(48px)

  +e('welcome')
    +media($screen-lg)
      &.base-block__content
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center

  +e('welcome-title')
    margin-bottom: rem(8px)

  +e('map')
    width: calc(100% + 4.8rem)
    position: relative
    left: 50%
    transform: translateX(-50%)
    height: rem(448px)
    margin-bottom: rem(-24px)
