+b('page-header')
  position: sticky
  width: 100%
  top: 0
  left: 0
  grid-area: header
  z-index: var(--z-index-header)
  background-color: rgb(var(--color-white))
  border-bottom: 1px solid rgba(var(--color-primary), 0.2)

  +e('container')
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 0
    padding-right: 0

    +media($screen-sm)
      height: rem(80px)
      box-sizing: border-box
      padding-left: rem(9px)
      padding-right: rem(17px)

    +media($screen-lg)
      margin: 0 auto
      padding-left: rem(24px)
      padding-right: rem(24px)

  +e('logo')
    display: none

    +media($screen-sm)
      display: block
      +absolute-center()

    +media($screen-lg)
      position: static
      top: auto
      left: auto
      transform: initial

  +e('user-list')
    display: flex

  +e('user-item')
    +m('user')
      display: none

      +media($screen-xs)
        display: block

    +m('messages')
      display: none

      +media($screen-xs)
        display: block

  +e('nav-toggle')
    +media($screen-lg)
      display: none

  +e('title')
    +absolute-center()
    +text-overflow()
    font: var(--text-heading-4)
    max-width: calc(100% - 10rem)

    +media($screen-xs)
      max-width: calc(100% - 20rem)

    +media($screen-sm)
      display: none
