+b('page-header')
  padding: rem(26px) 0

  +media($screen-sm)
    padding: rem(58px)

  +media($screen-lg)
    padding: rem(38px)

  +e('container')
    display: flex
    justify-content: center

    +media($screen-lg)
      width: rem(320px)
      justify-content: flex-start
