+b('base-map')
  position: relative
  z-index: 1
  height: 100%
  overflow: hidden

  +e('map')
    &.vue2leaflet-map
      .leaflet-marker-icon.marker-cluster
        background-color: rgb(var(--color-primary))

        div
          font: var(--text-link)
          color: rgb(var(--color-white))
          background-color: inherit

  +e('marker')
    position: relative

    &::before
      content: ''
      width: 8px
      height: 8px
      +absolute-center()

  +e('sidebar')
    display: flex
    flex-direction: column
    box-sizing: border-box
    position: absolute
    right: 0
    top: 0
    background-color: rgb(var(--color-white))
    border-left: rem(1px) solid rgba(var(--color-primary), 0.2)
    border-top: rem(1px) solid rgba(var(--color-primary), 0.2)
    width: calc(100% - 6rem)
    padding: rem(24px)
    height: 100%
    z-index: var(--z-index-base-modal)
    transition: transform 0.2s ease-out, visibility 0.2s ease-out
    transform: translateX(calc(100% + 6.1rem))
    visibility: hidden

    +m('visible')
      transform: none
      visibility: visible

    +media($screen-sm)
      width: 30%

  +e('link')
    margin-top: auto

  +e('close')
    &.base-close
      right: auto
      left: 0
      top: rem(-1px)
      transform: translateX(calc(-100% - 0.1rem))
      background-color: rgb(var(--color-white))
      border: rem(1px) solid rgba(var(--color-primary), 0.2)
      border-right: none

      &::before,
      &::after
        background-color: rgb(var(--color-primary))

  +e('holder')
    width: 100%
    display: flex
    flex-direction: column
    flex-grow: 1
    align-items: flex-start
