+b('base-map')
  &.vue2leaflet-map
    width: calc(100% + 4.8rem)
    position: relative
    left: 50%
    transform: translateX(-50%)
    height: 448px

    .leaflet-marker-icon.marker-cluster
      background-color: var(--color-primary)

      div
        font: var(--text-link)
        color: var(--color-white)
        background-color: inherit

  +e('marker')
    position: relative

    &::before
      content: ''
      width: 8px
      height: 8px
      background-color: red
      +absolute-center()
