+b('base-form-group')
  +e('label')
    display: block

  +e('heading')
    display: flex
    justify-content: space-between
    align-items: baseline
    flex-wrap: wrap
    margin-bottom: rem(8px)

  +e('input')
    box-sizing: border-box
    width: 100%
    padding: rem(10px) rem(16px)
    font: var(--text-input)
    color: rgb(var(--color-primary))
    background-color: rgba(var(--color-lavender), 0.2)
    border: rem(1px) solid rgb(var(--color-lavender))
    border-radius: 5px
    transition: border-color 0.2s ease-out, color 0.2s ease-out
    outline: none

    &:focus
      border-color: rgb(var(--color-primary))
      caret-color: rgb(var(--color-primary))

      &::placeholder
        color: rgb(var(--color-primary))

    &:hover
      border-color: rgb(var(--color-primary))

    +m('invalid')
      border-color: rgb(var(--color-red))
      color: rgb(var(--color-red))

      &::placeholder
        color: inherit

  +e('errors')
    display: flex
    flex-direction: column
    padding-top: rem(4px)

  +e('error')
    font: var(--text-caption)
    color: rgb(var(--color-red))

    &:not(:last-of-type)
      margin-bottom: rem(4px)

body.using-keyboard .base-form-group__input:focus
  outline: rem(1px) solid rgb(var(--color-primary))
