+b('messages-center')
  +e('btn')
    width: rem(50px)
    height: rem(50px)
    max-width: rem(60px)
    display: flex
    align-items: center
    justify-content: center
    color: rgb(var(--color-gray-4))
    transition: color 0.2s ease-out

    &:hover
      color: rgb(var(--color-primary))

    +m('active')
      color: rgb(var(--color-primary))

  +e('btn-content')
    position: relative

    .icon
      width: rem(23px)
      height: rem(18px)

    +media($screen-lg)
      .icon
        width: rem(26px)
        height: rem(21px)

  +e('sidebar')
    width: 356px
    height: calc(100% - 5.1rem)
    top: rem(51px)
    right: 0

    +media($screen-sm)
      top: 8rem
      height: calc(100% - 8rem)

  +e('overlay')
    height: calc(100% - 5.1rem)
    top: rem(51px)

    +media($screen-sm)
      top: 8rem
      height: calc(100% - 8rem)

    +media($screen-lg)
      display: none
